<html>
<body>
    <div class="login">
       <h1>Heart Attack Analysis and Prediction</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <h1>
            <legend>Heart attack Prediction</legend>
        </h1>
        <div class="form-group">
            <label for="age">Age in Years</label>
            <input class="form-control" type="number" name="age" placeholder="eg. 34" required="required"/>
         </div>
          <div class="form-group">
            <label for="trestbps">Trest Bps</label>
            <input class="form-control" type="number" name="trtbps" placeholder="trtbps" required="required"/>
          </div>
          <div class="form-group">
            <label for="chol">Cholesterol</label>
            <input class="form-control" type="number" name="chol" placeholder="chol" required="required"/>
          </div>
          <div class="form-group">
            <label for="thalachh">Thalach</label>
            <input class="form-control" type="number" name="thalachh" placeholder="thalachh" required="required"/>
          </div>
          <div class="form-group">
            <label for="oldpeak">Old Peak</label>
            <input class="form-control" type="number" name="oldpeak" placeholder="oldpeak" required="required"/>
          </div>
          <div class="form-group">
            <label for="sex">sex</label>
            <input class="form-control" type="number" name="sex" placeholder="sex" required="required"/>
          </div>
          
          <div class="form-group">
            <label for="cp">cp</label>
            <input class="form-control" type="number" name="CP_0" placeholder="CP_0" required="required"/>
          </div>
        
          <div class="form-group">
            <label for="fbs">fbs</label>
            <input class="form-control" type="number" name="fbs" placeholder="fbs" required="required"/>
          </div>
          <div class="form-group">
            <label for="restecg">restecg</label>
            <input class="form-control" type="number" name="restecg" placeholder="restecg" required="required"/>
          </div>
        
          <div class="form-group">
            <label for="exng">exng</label>
            <input class="form-control" type="number" name="exng" placeholder="exng" required="required"/>
          </div>
          
        
        
          <div class="form-group">
            <label for="slope_0">SLOPE_0</label>
            <input class="form-control" type="number" name="slp" placeholder="slp" required="required"/>
          </div>
          
          
          <div class="form-group">
            <label for="CA_1">CA_1</label>
            <input class="form-control" type="number" name="caa" placeholder="caa" required="required"/>
          </div>
        
          <div class="form-group">
            <label for="THAL_1">THAL_1</label>
            <input class="form-control" type="number" name="thall" placeholder="thall" required="required"/>
          </div>

          <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Submit and Predict" required />
        </div>


          
          
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
  </body>
</html>